body {
    background-image: url("https://images.unsplash.com/photo-1501514367484-a5804478bf64?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1868&q=80");
    background-size: 100% auto;
    background-repeat: repeat-y;
    background-attachment: fixed;
    font-family: 'Staatliches', cursive;
}

nav {
    background-color: rgb(0, 125, 209);
    opacity: .8;
}

a {
    color: rgb(0, 125, 209);
}

a:hover {
    cursor: pointer;
}

hr {
    color: rgb(156, 18, 18);
}

.card {
    background-color: rgb(136, 196, 201);
    opacity: .9;
}

.noteLink {
    color: rgb(0, 125, 209) !important;
}

.secondary-content > .material-icons {
    color: rgb(0, 125, 209) !important;
}